.todoitem {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    padding: 3px;
}

.todoitem:hover {
    background: #E4E6E7;
    border-radius: 3px;
    width: 50%;
}

.todoitem img {
    margin-right: 10px;
}

.todoitem input {
    margin-right: 10px;
    border-radius: 2px;
}

.crossed {
    text-decoration: line-through;
}