.form {
    display: inline-flex;
}

.btn_container {
    margin-top: auto;
}

.btn {
    border: transparent;
    border-radius: 50%;
    padding: 0.844rem 0.999rem;
    background: #081E34;
    cursor: pointer;
}

.btn img{
    width: 1.5rem;
    height: 1.5rem;
}