.todo_list {
    display: flex;
    flex-direction: column;
}

.title_container {
    padding-bottom: 1.625rem;
}

.title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: #151517;
}

.line {
    border-bottom: 2px solid #081E34;
    opacity: 0.2;
}